.campus-card {
  margin: 10px 0;
  text-align: center;
  background-color: $background-color-light;
  padding: 10px;
  position: relative;
  a {
    font-size: 18px;
  }
  img {
    height: 200px;
  }
  .cover {
    width: 200px;
    object-fit: cover;
  }
  .actions ul {
    list-style-type: none;
    li {
      display: inline-block;
      a {
        color: $purple;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 700;
      }
    }
  }
}
