.student-card {
  margin: 10px 0;
  text-align: center;
  background-color: $background-color-light;
  padding: 10px;
  position: relative;
  .student-info {
    clear: both;
    padding-top: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  a {
    &.button {
      font-size: 12px;
    }
  }
  img {
    height: 200px;
  }
  .cover {
    width: 200px;
    object-fit: cover;
  }
}
